<mat-toolbar color="primary" >
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
 <button  mat-button routerLink="/admin/home">Accueil</button>
  <button  mat-button routerLink="/admin/profile">Profile</button>
  <button mat-button *ngIf="authService.authenticated==true">
    {{authService.username}}
  </button>
  <button (click)="logout()"  mat-raised-button color="accent">Deconnexion</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/new">
          <mat-icon>dashboard</mat-icon>
          Ajouter un livre
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/list">
          <mat-icon>dashboard</mat-icon>
          Liste Livre
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>

